body {
    background-color: #eeeeee;
    color: #222222;
}

/* how seating is:
 * columns: 1-15
 * rows a-z
 */

.open-seat {
    background-image: url(../media/open-seat.png);
    max-height: 25px;
    max-width: 25px;
}

.taken-seat {
    background-image: url(../media/taken-seat.png);
    max-height: 25px;
    max-width: 25px;
}


.flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.box {
    padding: 20px;
    margin: 5px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -ms-flex-preferred-size: 3in;
    flex-basis: 3in;
    min-width: 20px;
}

